@font-face {
  font-family: SF Pro Text;
  src: url(/fonts/sfprotext-medium-webfont.woff2), url(/fonts/sfprotext-medium-webfont.woff);
  font-weight: 500;
}
@font-face {
  font-family: SF Pro Text;
  src: url(/fonts/sfprotext-bold-webfont.woff2), url(/fonts/sfprotext-bold-webfont.woff);
  font-weight: 600;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .field {
  display: flex;
  padding-left: 280px;
}
#header .field input {
  padding: 7px;
  display: block;
  width: 442px;
  height: 25px;
  background: linear-gradient(135deg, rgba(15, 85, 232, 0.1) 0%, rgba(157, 223, 243, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}
#header .right_side {
  display: flex;
  position: absolute;
  top: 16px;
  right: 30px;
}
#header .right_side > div {
  margin-right: 30px;
}
#header .right_side > div > img {
  width: 100%;
  height: auto;
}

#wrapper_main {
  margin: 0;
  display: flex;
}
#wrapper_main .sidebar {
  background: linear-gradient(180deg, #2b2f53 3%, #1d1c34 36%);
  margin: 0;
  min-width: 248px;
  width: 248px;
  font-family: SF Pro Text;
  font-style: normal;
}
#wrapper_main .sidebar .logo_sidebar {
  display: flex;
  padding: 50px 84px 14px 20px;
}
#wrapper_main .sidebar .logo_sidebar .settings_logo {
  margin-right: 16px;
}
#wrapper_main .sidebar .settings_item_1 {
  display: flex;
  flex-direction: column;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: rgba(235, 235, 245, 0.6);
}
#wrapper_main .sidebar .settings_item_1 a {
  align-items: center;
  text-decoration: none;
}
#wrapper_main .sidebar .settings_item_1 svg {
  margin-right: 25px;
}
#wrapper_main .sidebar .settings_item_2 {
  display: flex;
  flex-direction: column;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: rgba(235, 235, 245, 0.6);
}
#wrapper_main .sidebar .settings_item_2 a {
  align-items: center;
  text-decoration: none;
}
#wrapper_main .sidebar .settings_item_2 svg {
  margin-right: 16px;
}
#wrapper_main .sidebar ul.menu_sidebar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wrapper_main .sidebar ul.menu_sidebar > li {
  position: relative;
}
#wrapper_main .sidebar ul.menu_sidebar > li::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 95%);
}
#wrapper_main .sidebar ul.menu_sidebar > li > a {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  font-size: 17px;
  line-height: 130%;
  margin: 0;
  padding: 12px 0 12px 20px;
}
#wrapper_main .sidebar .my_channel p, #wrapper_main .sidebar .subscriptions p {
  margin-left: 10px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.segmented_control ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
}
.segmented_control li {
  float: left;
  margin-right: 13px;
}
.segmented_control li a {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.6);
  padding: 14px 16px;
  text-decoration: none;
}

.social_icons ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 86px;
  gap: 2vw;
}
.social_icons ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.38px;
  text-decoration-line: underline;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.social_icons ul li a img {
  margin-right: 20px;
}
.social_icons ul li a svg {
  margin-right: 20px;
}

body {
  background: linear-gradient(180deg, #2b2f53 3%, #1d1c34 36%);
  line-height: 21px;
  font-family: "SF Pro Display", sans-serif;
}

#wrapper_main {
  margin: 0;
  display: flex;
}
#wrapper_main .catalog_video {
  padding: 0;
  margin: 0;
  gap: 16px;
}
#wrapper_main .catalog_video .segmented_control ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
}
#wrapper_main .catalog_video .segmented_control li {
  float: left;
}
#wrapper_main .catalog_video .segmented_control li a {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.6);
  padding: 14px 16px;
  text-decoration: none;
}
#wrapper_main .catalog_video .wrapper_catalog {
  display: flex;
  flex-wrap: wrap;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item {
  margin: 0 8px 40px;
  width: calc(33.3333333333% - 16px);
  max-width: calc(33.3333333333% - 16px);
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item .bottom_info {
  padding: 24px;
  display: flex;
  background: linear-gradient(180deg, rgba(72, 49, 157, 0.2) 18.75%, rgba(72, 49, 157, 0) 100%);
  border-radius: 0px 0px 16px 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item .bottom_info .left_info img {
  width: 40px;
  height: 40px;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item .bottom_info .right_info {
  margin-left: 16px;
  margin-bottom: 12px;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item .bottom_info .right_info .heading {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: -0.32px;
}
#wrapper_main .catalog_video .wrapper_catalog .video_item .bottom_info .right_info .name_channel {
  width: 77px;
  height: 22px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
#wrapper_main .catalog_video .wrapper_catalog .video_item .bottom_info .right_info .vitime {
  height: 22px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 0.6);
}

/*# sourceMappingURL=main.css.map */
