@import "./component/header.scss";
@import "./component/sidebar.scss";
@import "./component/footer.scss";


body {
    background: linear-gradient(#2e335a, #1d1c34);
    line-height: 21px;
    font-family: 'SF Pro Display', sans-serif;
  }
  
.catalog_video {
      padding: 0px;
      margin: 44px 48px 40px 45px;
      gap: 16px;
  
      .wrapper_catalog {
        display: flex;
        flex-wrap: wrap;

        .video_item {
          margin: 0 8px 40px;
          width: calc( (100%/3) - 16px );
          max-width: calc( (100%/3) - 16px );
          box-sizing: border-box;
          border-radius: 16px;

          >img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
          }
  
          .bottom_info {
            padding: 24px;
            display: flex;
            background: linear-gradient(180deg, rgba(72, 49, 157, 0.2) 18.75%, rgba(72, 49,157,0) 100%);
            border-radius: 0px 0px 16px 16px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            
            .left_info img {
              width: 40px;
              height: 40px;
            }
  
            .right_info {
              margin-left: 16px;
              margin-bottom: 12px;
  
              .heading {
                font-family: SF Pro Display;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 21px;
                color: #ffffff;
                letter-spacing: -0.32px;
              }
  
              .name_channel {
                width: 77px;
                height: 22px;
                font-family: SF Pro Text;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 22px;
                display: flex;
                align-items: center;
                letter-spacing: -0.408px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.6);
              }
  
              .vitime {
                width: 143px;
                height: 22px;
                font-family: SF Pro Text;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.408px;
                color: rgba(255, 255, 255, 0.6);

                span {
                  margin: 0 5px;
                }
              }
            }
          }
        }
      }
    }