@font-face {
    font-family: SF Pro Text;
    src: url(/fonts/sfprotext-medium-webfont.woff2),
    url(/fonts/sfprotext-medium-webfont.woff);
    font-weight: 500;
  }

  @font-face {
    font-family: SF Pro Text;
    src: url(/fonts/sfprotext-bold-webfont.woff2),
    url(/fonts/sfprotext-bold-webfont.woff);
    font-weight: 600;
  }