#header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px 8px;

    .center {
      margin: 0 auto;
    }
  
    .center .field {
      display: flex;
      align-items: center;
      margin: 0 auto;
  
      input {
        padding: 7px;
        display: block;
        width: 575px;
        border-radius: 2px;
      }
    }
  
    .right_side {
      top: 16px;
      right: 30px;
      position: absolute;
      display: flex;
  
      > div {
        margin-right: 30px;
        align-items: center;
          
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
