#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .center {
      
    }
  
    .field {
      display: flex;
      padding-left: 280px;
  
      input {
        padding: 7px;
        display: block;
        width: 442px;
        height: 25px;
        background: linear-gradient(135deg, rgba(15, 85, 232, 0.1)0%, rgba(157, 223, 243, 0.1)100%);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 40px;

      }
    }
  
    .right_side {
      display: flex;
      position: absolute;
      top: 16px;
      right: 30px;
  
      > div {
        margin-right: 30px;
          
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
