#wrapper_main {
      
    margin: 0;
    display: flex;

    .sidebar {
      background: linear-gradient(180deg, #2b2f53 3.16%, #1d1c34 36.05%);
      margin: 0;
      min-width: 248px;
      width: 248px;
      font-family: SF Pro Text;
      font-style: normal;

      .logo_sidebar {
        display: flex;

        img {
          align-items: center;
          margin-right: 20px;
        }
      }

        .settings_item_1, .settings_item_2 {
          display: flex;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 130%;
          color: rgba(235, 235, 245, 0.6);

          a {
            align-items: center;
            text-decoration: none;
            border-bottom: 1px solid #000000;
          }

            img {
            margin-right: 25px;
          }
        }

        .settings_item_3 {
          display: flex;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 130%;
          color: rgba(235, 235, 245, 0.6);
          text-decoration: none;

          a {
            align-items: center;
            text-decoration: none;
            border-bottom: 1px solid #000000;
          }

            img {
            margin-right: 16px;
          }
        }
        
        ul.menu_sidebar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
          > li {
            position: relative;

            &::after{
              content: '';
              position: absolute;
              display: block;
              left: 0;
              right: 0;
              bottom: 0;
              height: 1px;
              background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2995) 50.4%, rgba(255, 255, 255, 0) 96.77%);
            }
          
          > a {
            display: flex;
            color: rgba(255,255,255,0.5);
            font-size: 17px;
            line-height: 130%;
            margin: 0;
            padding: 12px 0 12px 20px;
            
          }
        }
      }
  
      .my_channel, .subscriptions {
        p {
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 130%;
          text-transform: uppercase;
          color: rgba(255,255,255,0.5);
        }
      }
    }
}