#wrapper_main {
    display: flex;

    .sidebar {
      width: 248px;
      font-family: SF Pro Text;
      font-style: normal;
      line-height: 130%;

      .logo_sidebar {
        
      }

      ul.menu_sidebar {
        list-style-type: none;
        
        
        > li {
          font-weight: 500;
          

          > a {
            display: flex;
            color: rgba(255,255,255,0.5);
            font-size: 17px;
            line-height: 130%;
          }
        }
      }
  
      .my_channel, .subscriptions > {
        p {
          font-weight: 600;
          font-size: 13px;
          text-transform: uppercase;
          color: rgba(255,255,255,0.5);
        }
  
        ul {
          list-style-type: none;
  
          > li {
            display: block;
  
            > a {
              display: flex;
            color: rgba(255,255,255,0.5);
            padding: 15px 40px;
            font-size: 17px;
            line-height: 130%;
  
              > img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-right: 20px;
              }
            }
          }
        }
      }
  
      .link_sidebar_footer {
        padding: 0 22px;
  
        > a {
          text-decoration: none;
          margin-right: 8px;
          display: inline-block;
          font-weight: 500;
          font-size: 17px;

        }
      }
    }
}